.partners{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    @media(max-width:1162px){
        img{
            width:90%;
        }
    }
    @media(max-width:800px){
        grid-template-columns: repeat(3, 1fr);
    }
}