.team{
    .photo{
        background-image: url("../images/people (8).svg");
        display:grid;
        grid-template-columns: 1fr;
        width:100%;
        height: 550px;
        @media(min-width:1640px){
            height:750px;
            margin: 15% 0px;
        }
        @media(min-width:1400px){
            height:650px;
        }
        @media(max-width:1225px){
            height:500px;
        }
        @media(max-width:1070px){
            height:450px;
        }
        @media(max-width:920px){
            height:370px;
        }
        img{
            width:55%;
            margin:120px 20% -50px 20%;  
            @media(max-width:960px){
                width:65%;
                margin:70px 15% -50px 15%;
            }
            @media(max-width:700px){
                width:90%;
                margin:25px 5%;
            }
        }
    }
    .join-up{
        background-color: rgb(54, 122, 184);
        margin: 100px 0px;
        color:white;
        display:grid;
        grid-template-columns: 1fr 1fr;
        @media(max-width:600px){
            grid-template-columns: 1fr; 
        }
        img{
            width:100%;
        }
        
        div{
            padding:10px 50px 10px 30px;
            h1{
                margin:15px 0px;
            }
            p{
                font-size:$fs*1.2;
            }
            @media(min-width:900px){
                p{
                    line-height: 27px;
                }
            }
            p:first-of-type{
                font-style: italic;
            }
            .find{
                font-size: $fs*1.2;
                padding: 15px 5%;
                background-color:rgb(0, 181, 210);
                box-shadow:0px 10px 1px rgb(0, 142,165);
                &:hover{
                    box-shadow: 1px 1px 5px rgb(0, 142,165);
                    border-radius:4px;
                }
            }
            @media(min-width:1500px){
                font-size:$fs*1.4;
            }
            @media(max-width:1255px){
                font-size:$fs*0.9;
            }
            @media(max-width:1145px){
                padding: 5px 20px;
                font-size:$fs*0.75;
            }
            @media(max-width:980px) and (min-width:900px){
                
                h1{
                    font-size:$fs*2.85;
                }
            }
            @media(min-width:600px) and(max-width:900px){
                h1+p{
                    display:none;
                }
            }
        }
        #out-p{
            display:none;
            grid-column: 1/3;
            padding: 10px 20px;
        }
        @media (min-width:600px)and (max-width:900px){
            #out-p{
                display:block;
            }
        }
    }
}